## Explotaratory Data Analysis: ENIF 2021 Profiling

In [1]:
import pandas as pd
import numpy as np
import matplotlib as pyplot
from pandas_profiling import ProfileReport

In [2]:
ENIF_2021=pd.read_stata('ENIF2021_final.dta')

In [7]:
columns_headers=list(ENIF_2021.columns.values)
print(columns_headers)

['folio', 'viv_sel', 'hogar', 'n_ren', 'p3_1_1', 'p3_1_2', 'p3_2', 'p3_3', 'p3_4', 'p3_5', 'p3_6', 'p3_7', 'p3_8a', 'p3_8b', 'p3_9', 'p3_10', 'p3_11', 'p4_1', 'p4_2_1', 'p4_2_2', 'p4_2_3', 'p4_2_4', 'p4_2_5', 'p4_3', 'p4_4_1', 'p4_4_2', 'p4_4_3', 'p4_4_4', 'p4_4_5', 'p4_4_6', 'p4_4_7', 'p4_5', 'p4_6_1', 'p4_6_2', 'p4_6_3', 'p4_6_4', 'p4_6_5', 'p4_6_6', 'p4_7_1', 'p4_7_2', 'p4_7_3', 'p4_8_1', 'p4_8_2', 'p4_8_3', 'p4_8_4', 'p4_8_5', 'p4_8_6', 'p4_9_1', 'p4_9_2', 'p4_9_3', 'p4_9_4', 'p4_10', 'p5_1_1', 'p5_1_2', 'p5_1_3', 'p5_1_4', 'p5_1_5', 'p5_1_6', 'p5_2_1', 'p5_2_2', 'p5_2_3', 'p5_2_4', 'p5_2_5', 'p5_2_6', 'p5_2_7', 'p5_2_8', 'p5_2_9', 'p5_3', 'p5_4_1', 'p5_5_1', 'p5_6_1', 'p5_7_1', 'p5_4_2', 'p5_5_2', 'p5_6_2', 'p5_7_2', 'p5_4_3', 'p5_5_3', 'p5_6_3', 'p5_7_3', 'p5_4_4', 'p5_5_4', 'p5_6_4', 'p5_7_4', 'p5_4_5', 'p5_5_5', 'p5_6_5', 'p5_7_5', 'p5_4_6', 'p5_5_6', 'p5_7_6', 'p5_4_7', 'p5_5_7', 'p5_7_7', 'p5_4_8', 'p5_5_8', 'p5_6_8', 'p5_7_8', 'p5_4_9', 'p5_5_9', 'p5_6_9', 'p5_7_9', 'p5_8_01', 'p5_8_02', 'p5_8_03', 'p5_8_04', 'p5_8_05', 'p5_8_06', 'p5_8_07', 'p5_8_08', 'p5_8_09', 'p5_8_10', 'filtro_1_secc5', 'p5_9_01', 'p5_9_02', 'p5_9_03', 'p5_9_04', 'p5_9_05', 'p5_9_06', 'p5_9_07', 'p5_9_08', 'p5_9_09', 'p5_10', 'filtro_2_secc5', 'p5_11', 'filtro_3_secc5', 'p5_12', 'p5_13', 'p5_14', 'filtro_4_secc5', 'p5_15', 'p5_16_1', 'p5_16_2', 'p5_16_3', 'p5_16_4', 'p5_16_5', 'p5_17', 'p5_18_01', 'p5_18_02', 'p5_18_03', 'p5_18_04', 'p5_18_05', 'p5_18_06', 'p5_18_07', 'p5_18_08', 'p5_18_09', 'p5_18_10', 'p5_18_11', 'p5_18_12', 'p5_18_99', 'p5_19_1', 'p5_19_2', 'p5_19_3', 'p5_19_4', 'p5_19_5', 'p5_19_6', 'p5_19_7', 'p5_19_9', 'p5_20', 'p5_21', 'p5_22', 'p5_23', 'p5_24', 'p6_1_1', 'p6_1_2', 'p6_1_3', 'p6_1_4', 'p6_1_5', 'p6_2_1', 'p6_3_1', 'p6_4_1', 'p6_4a_1', 'p6_2_2', 'p6_3_2', 'p6_4_2', 'p6_4a_2', 'p6_2_3', 'p6_3_3', 'p6_4_3', 'p6_4a_3', 'p6_2_4', 'p6_3_4', 'p6_4_4', 'p6_4a_4', 'p6_2_5', 'p6_3_5', 'p6_4_5', 'p6_4a_5', 'p6_2_6', 'p6_3_6', 'p6_4_6', 'p6_4a_6', 'p6_2_7', 'p6_3_7', 'p6_4_7', 'p6_4a_7', 'p6_2_8', 'p6_3_8', 'p6_4_8', 'p6_4a_8', 'p6_2_9', 'p6_3_9', 'p6_4_9', 'p6_4a_9', 'p6_5', 'p6_6', 'p6_7', 'p6_8_01', 'p6_8_02', 'p6_8_03', 'p6_8_04', 'p6_8_05', 'p6_8_06', 'p6_8_07', 'p6_8_08', 'p6_8_09', 'p6_8_10', 'p6_8_11', 'p6_8_12', 'p6_8_13', 'p6_8_99', 'filtro_1_secc6', 'p6_9', 'p6_10', 'p6_11', 'p6_12_1', 'p6_12_2', 'p6_12_3', 'p6_12_4', 'p6_12_5', 'p6_13', 'p6_14', 'p6_15', 'p6_16', 'p6_17', 'p6_18_1', 'p6_18_2', 'p6_18_3', 'p6_18_4', 'p6_18_5', 'p6_18_6', 'p6_18_9', 'p7_1_1', 'p7_1_2', 'p7_2', 'p7_3', 'p7_4', 'p7_5', 'p7_6', 'p7_7_1', 'p7_8_1_1', 'p7_8_1_2', 'p7_8_1_3', 'p7_7_2', 'p7_8_2_1', 'p7_8_2_2', 'p7_8_2_3', 'p7_7_3', 'p7_8_3_1', 'p7_8_3_2', 'p7_8_3_3', 'p7_7_4', 'p7_8_4_1', 'p7_8_4_2', 'p7_8_4_3', 'p8_1', 'p8_2', 'p8_3', 'p8_4', 'p8_5', 'p8_6_1', 'p8_7_1', 'p8_6_2', 'p8_7_2', 'p8_8_2', 'p8_9_2', 'p8_10_2', 'p8_6_3', 'p8_7_3', 'p8_8_3', 'p8_9_3', 'p8_10_3', 'p8_6_4', 'p8_7_4', 'p8_8_4', 'p8_9_4', 'p8_10_4', 'p8_6_5', 'p8_7_5', 'p8_8_5', 'p8_9_5', 'p8_10_5', 'p8_6_6', 'p8_6_7', 'p8_6_8', 'p8_7_8', 'p8_8_8', 'p8_9_8', 'p8_10_8', 'filtro_1_secc8', 'p8_11', 'p8_12_1', 'p8_12_2', 'p8_12_3', 'p8_12_4', 'p8_12_5', 'p9_1', 'p9_1a', 'p9_2', 'p9_3', 'p9_4', 'p9_5', 'p9_6', 'p9_7', 'p9_8_1', 'p9_8_2', 'p9_8_3', 'p9_8_4', 'p9_8_5', 'p9_8_6', 'p10_1', 'p10_2', 'p10_3_1', 'p10_3_2', 'p10_4', 'p10_5', 'p10_6_1', 'p10_6_2', 'p10_7', 'p10_8', 'p10_9_1', 'p10_9_2', 'p11_1_1', 'p11_1_2', 'p11_1_3', 'p11_1_4', 'p11_1_5', 'p11_2_1', 'p11_2_2', 'p11_2_3', 'p11_2_4', 'p11_3_1', 'p11_3_2', 'p11_3_3', 'p11_3_4', 'p11_3_9', 'p11_4', 'p12_1', 'p12_2_1', 'p12_2_2', 'p12_2_3', 'p12_3_1', 'p12_3_2', 'p12_3_3', 'p12_3_4', 'p12_3_5', 'p12_3_6', 'p12_3_7', 'p12_3_8', 'p12_4', 'p13_1', 'p13_2', 'p13_3', 'p13_4', 'p14_1', 'p14_2_1', 'p14_3_1', 'p14_4_1', 'p14_2_2', 'p14_3_2', 'p14_4_2', 'p14_2_3', 'p14_3_3', 'p14_4_3', 'p14_2_4', 'tloc', 'region', 'sexo', 'edad', 'est_dis', 'upm_dis', 'fac_ele', 'p2_3', 'niv', 'gra', 'fac_hog', 'p2_8', 'p0_1', 'p0_2', 'p0_3', 'p0_4_1', 'p0_4_1a', 'p0_4_2', 'p0_4_2a', 'p1_1', 'p1_2', 'p1_3', 'fac_viv', 'cond_laboral', 'formal', 'ingresos_mensuales', 'niv_ingresos', 'indigena', 'edad_niveles', 'escolaridad', 'cuenta', 'cuenta_singob', 'cuenta_gob', 'cuenta_sologob', 'ahorro_informal', 'ahorro_ambos', 'credito_informal', 'credito_formal', 'credito', 'cuenta_dig', 'cuenta_dig_porcentajecuenta', 'tarjeta_debito', 'tarjeta_credito', 'credito_dig', 'credito_dig_porcentajecredito', 'acceso_dig', 'comparacion_credito', 'comparacion_banxico', 'cashlees_payments_menos500', 'cashlees_payments_mas500', 'codi_conoce', 'codi_uso', 'codi_uso_pob', 'remesas', 'remesas_efectivo', 'comercios', 'pago_pequecomercio', 'super_farmacia', 'pago_superfarmacia', 'servicios', 'pago_servicios', 'transporte', 'pago_transporte', 'sucursal_uso', 'cajeros_uso', 'corresponsales_uso', 'uso_tddebito', 'uso_tdcredito', 'seguro_tenencia', 'afore_tenencia', 'tenencia_celular', 'cuenta_celular', 'presupuesto', 'deudas', 'resiliencia', 'producto_formal', 'uso_tdd_veces', 'minutos_sucursal', 'distancia_sucursal', 'minutos_cajero', 'distancia_cajero', 'minutos_corresponsal', 'distancia_corresponsal', 'puntajea', 'puntajeb', 'puntajec', 'puntajed', 'puntajee', 'indicador_bf', 'conocimientos_financieros', 'indicador_planeacion', 'indicador_liquidez']

In [33]:
def SUMA_AMAI(x,y,z,w,k,u):
    suma=0
    if (x==1):
        suma+=24
    elif (x>1):
        suma+=47
    if (y==1):
        suma+=22
    elif (y>1):
        suma+=43
    if (z==1):
        suma+=32
    if (w==1):
        suma+=15
    elif(w==2):
        suma+=31
    elif(w==3):
        suma+=46
    elif(w>3):
        suma+=61
    if(k==1):
        suma+=8
    elif(k==2):
        suma+=16
    elif(k==3):
        suma+=24
    elif(k>3):
        suma+=32
    if(u==1):
        suma+=6
    elif(u==2):
        suma+=11
    elif(u==3):
        suma+=18
    elif(u==4):
        suma+=23
    elif(u==5):
        suma+=27
    elif(u==6):
        suma+=27
    elif(u==7):
        suma+=27
    elif(u==8):
        suma+=59
    elif(u==9):
        suma+=85
    else:
        suma+=0
    return suma

In [34]:
ENIF_2021['Suma_AMAI'] = ENIF_2021.apply(lambda x: SUMA_AMAI(x['p0_3'],x['p0_4_1a'],x['p0_4_2a'],x['p2_8'],
                                                            x['p0_1'],x['niv']), axis=1)

In [35]:
ENIF_2021['Suma_AMAI'].describe()

count    13554.000000
mean       109.640696
std         48.025022
min          8.000000
25%         73.000000
50%        109.000000
75%        141.000000
max        285.000000
Name: Suma_AMAI, dtype: float64

### ANALISIS PREELIMINAR DE VARIABLES

#### Variables sociodemograficas grupo de interes

Analisis exploratorio de las variables sociodemograficas del grupo objetivo:
Personas de 18 a 34 anios

In [ ]:
Dems=['']

In [9]:
ENIF_reducida=ENIF_2021[cols]

In [10]:
profile= ProfileReport(ENIF_reducida.copy(),title="Pandas Profile Reporting")

In [11]:
profile.to_file('profile_report.html')

Summarize dataset:   0%|          | 0/97 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
#Division por edades
grupos_edad=[
    (ENIF_2021['edad']<35),
    (ENIF_2021['edad']>=35)
]
labels_edad=['Edad objetivo(<34)','Mas de 34']

ENIF_2021['Grupos_edad']=np.select(grupos_edad,labels_edad)

#ENIF_2021['Grupos_edad'].isna().sum()
#No missing data in Grupos_edad

In [19]:
ENIF_2021['sexo'].isna().sum()

0

In [9]:
hombres=ENIF_2021.groupby('sexo').get_group(1)

In [10]:
hombres.describe()

,folio,viv_sel,hogar,n_ren,p3_1_1,p3_1_2,p3_2,p3_3,p3_4,p3_5,...,minutos_corresponsal,puntajea,puntajeb,puntajec,puntajed,puntajee,indicador_bf,conocimientos_financieros,indicador_planeacion,indicador_liquidez
count,6209.000000,6209.000000,6209.000000,6209.000000,6209.000000,6209.000000,6209.000000,6209.000000,6209.000000,6209.000000,...,2943.000000,6147.000000,6171.000000,6189.000000,6152.000000,6191.000000,6060.000000,6209.000000,6209.000000,6209.000000
mean,6638.637784,6.539861,1.017877,1.561765,4.551297,3.307618,4.112256,1.932517,1.862941,1.941053,...,11.557934,0.521962,0.535732,0.473340,0.511785,0.383783,0.487887,2.311322,0.217346,0.628141
std,3843.054182,5.572310,0.148562,1.040619,2.560414,1.518807,1.874130,0.250876,0.343937,2.099507,...,21.109594,0.425846,0.432722,0.438175,0.398206,0.348458,0.260909,0.808231,0.366847,0.243173
min,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3319.000000,2.000000,1.000000,1.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,...,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.300000,2.000000,0.000000,0.400000
50%,6656.000000,4.000000,1.000000,1.000000,3.000000,3.000000,5.000000,2.000000,2.000000,1.000000,...,5.000000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,3.000000,0.000000,0.600000
75%,9964.000000,10.000000,1.000000,2.000000,7.000000,4.000000,5.000000,2.000000,2.000000,1.000000,...,10.000000,1.000000,1.000000,1.000000,1.000000,0.500000,0.700000,3.000000,0.500000,0.800000
max,13351.000000,23.000000,5.000000,15.000000,9.000000,6.000000,6.000000,2.000000,2.000000,8.000000,...,510.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000

In [11]:
ENIF_2021.groupby('sexo').describe()

       folio                                                                   \
       count         mean          std  min     25%     50%      75%      max
sexo
1     6209.0  6638.637784  3843.054182  3.0  3319.0  6656.0   9964.0  13351.0
2     7345.0  6708.034990  3864.041595  1.0  3357.0  6710.0  10046.0  13352.0

     viv_sel            ... indicador_planeacion      indicador_liquidez  \
       count      mean  ...                  75%  max              count
sexo                    ...
1     6209.0  6.539861  ...                  0.5  1.0             6209.0
2     7345.0  6.540640  ...                  0.5  1.0             7345.0


          mean       std  min  25%  50%  75%  max
sexo
1     0.628141  0.243173  0.0  0.4  0.6  0.8  1.0
2     0.625952  0.236303  0.0  0.4  0.6  0.8  1.0

[2 rows x 3296 columns]

In [14]:
ENIF_2021[]

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0        Con cuenta
1        Con cuenta
2        Con cuenta
3        Con cuenta
4        Con cuenta
            ...
13549    Sin cuenta
13550    Sin cuenta
13551    Sin cuenta
13552    Sin cuenta
13553    Sin cuenta
Name: cuenta, Length: 13554, dtype: category
Categories (2, object): ['Sin cuenta' < 'Con cuenta']>

In [17]:
total_pob = ENIF_2021['fac_ele'].sum()
print(total_pob)

90328320

In [37]:
edad_35=(ENIF_2021["edad"] <= 35)
edad_35_mas=(ENIF_2021["edad"] >35)
cuenta=(ENIF_2021["cuenta"]=="Con cuenta")

In [34]:
below_36 = ENIF_2021[edad_35]
from35_andup= ENIF_2021[edad_35_mas]

In [35]:
menores_36=below_36['fac_ele'].sum()
mayores_36=from35_andup['fac_ele'].sum()
print(menores_36,mayores_36)

36075130 54253190

In [40]:
ENIF_2021[edad_35 & cuenta].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2719 entries, 1 to 13545
Columns: 467 entries, folio to indicador_liquidez
dtypes: category(54), float32(15), float64(268), int16(5), int32(1), int8(124)
memory usage: 6.2 MB

## NSE AMAI 2022

https://www.youtube.com/watch?v=lnks1IcoHUo&t=108s

## Plots